<div class="container-home">  
  <div class="content">
    <center> <h1>Reach your goals</h1>
    <p>Create daily tasks and track your goals.</p></center>
     <p> <%= current_user %></p>
     <% if current_user %>
       <%= link_to "Account", user_path(current_user.id) %>
     <% end %>
    <%= render "devise/registrations/new" %><br>
    <%= render "devise/sessions/new" %>
  </div>
</div>