 <nav class="user-col">
  <ul>
    <li><%= current_user.name %></li>
    <hr> 
    <li><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings </li>
    <hr>
    <li><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> <%= link_to "Days", new_task_path %> </li>
    <hr>
    <li><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
 <%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>    
   </ul>
</nav>

<div class="container righty"> 
  <section class ="user-tasks">
    <div class="row"> 
      <div class="col-md-2">
        <p class="header">Today's Tasks: </p>
      </div> 

	    <div class="col-md-6">      
        <ol>      
          <%= render 'tasks/tasks' %> 
        </ol>
        <hr>
        <span class="glyphicon glyphicon-plus-sign add" aria-hidden="true"></span>  
	    </div>
    </div>
  </section>
</div>