<div class="container righty"> 
  <h1 class="goal-name"> 
  <span class="glyphicon glyphicon-stop blue"></span> Your summary 
  </h1><br>
  <div id="cal-heatmap"></div>  
  <br>
  <br>
  <br>
  <section class ="today-tasks">
    <div class="row"> 
      <div class="col-md-2">
        <p class="header-to-do">Today to do: </p>
      </div>
	    <div class="col-md-6">      
        <div id ='today-list'>      
          <%= render @tasks %> 
        </div>
	    </div>
    </div>
  </section>

   <%= content_tag :div, class: "heatmap-data", data: {cmon: @cmon} do %>
  <% end %>
</div>