<div class="container righty"> 
 <span class="glyphicon glyphicon-stop color-<%=@goal.color%>"></span> <h1 class="goal-name"> <%= @goal.name %> </h1><br>
  <img src="http://i.stack.imgur.com/JKxGL.png"></img>
  <br>
  <br>
  <br>
  <section class ="today-tasks">
    <div class="row"> 
      <div class="col-md-2">
        <p class="header-to-do">Today to do: </p>
      </div>
	    <div class="col-md-6">      
        <div id ='today-list'>      
          <%= render @tasks %> 
        </div><hr>
        <div class='add-today'><%= render 'tasks/add_task_form' %></div>
        <div class='add-task-button'>Add task</div>
	    </div>
    </div>
  </section>
</div>