/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


//TO DO: clean this area, did an ugly hack to fix a button sizing issue //

textarea:hover,  
textarea:active, 
input:active, 
textarea:focus, 
{
  outline: 0px !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input:focus[type="text"],
input[type="text"] {

  outline: 0px !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;

  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  border: solid 2px #ddd;
  transition: border 0.3s;
  border-radius: 3px;
}
 
//* //



body {
  background-color: #fff;
}

.user-col {
	padding-top: 30px;
	padding-right: 22px;
	width: 190px;
	background-color: #f8f8f8;
	float: left;
	position: fixed;
	height: 100%;
	border-color: #f1f1f1;
	border-right-style: solid;
	border-width: 2px;
	ul {	 
      li {
      	text-transform: uppercase;
        list-style: none;
        margin-left: 0px;
        font-size: 12px;
        font-weight: 700;
		color: #7f7f7f;
      a {
        color: #7f7f7f;
      }
      li:hover{	
        color: #5AB953; 
      }
    }
  }
}

.righty {
  margin-left: 225px;
  padding-top: 30px; 
}

.header {
  color: #585858;
  font-size: 16px;
  font-weight: 800;
  overflow: hidden;
}

.records {
  font-weight: 800;
  font-size: 30px;
}

