// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #5cb85c;


.today-tasks {	
  margin-top: 20px;
  li {
    color: #585858;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-left: 0px
  }
}
 
.to-do {
  padding: 4px 0px;
  color: #444;
  list-style: none;
  &:after { 
   content: "";
   display: block; 
   clear: both;
  }
}

.complete{
  color: $green !important;
  text-decoration: line-through;
}


.entire-task {
  &:after { 
   content: "";
   display: block; 
   clear: both;
  }
  margin-bottom: 5px;
}

//*** CONTAINER FOR EDIT TASK FIELD ***//

.edit-task-form {
  position: relative;
  float: left;
  display :none;
   width: 400px;
   margin-bottom: 25px;
}

.edit-task-field {
  margin-top: 4px;
  width: 400px;
}


//*** CONTAINER FOR ICONS ***///

.icons {
  display: none;
  padding-bottom: 24px;
  margin-left: 40px;
}

//*** ICONS ***//

.icon-style {
  color: #ddd;
  font-size: 20px;
  padding-left: 15px;
}

.check-box {
  @extend .icon-style;
  position: relative;
  padding-top: 4px;
  margin-right: 20px;
  float: left;
  &:hover {
    text-decoration: initial !important;
    color: $green;
  }
}

.pencil {
  @extend .icon-style;
  @extend .hand-cursor;
  float: left;
  &:hover {
    text-decoration: initial !important;
    color: #ECBE13;
  }
}

.delete {
  @extend .icon-style;
  &:hover {
    color: #222;
  }
}

//*** Extension ***//

.hand-cursor {
  cursor: pointer; 
  cursor: hand;	
}

.add {
  @extend .hand-cursor;
  color: #999;
  font-weight: 200;
  font-size: 26px;
  padding-left: 17px;
  padding-right: 17px;

  &:hover {
    color: #585858;
  }
}

.add-today {
  padding-left: 15px;
  padding-right: 15px;
  display: none;
}

.edit-cancel {
  @extend .hand-cursor;
  color: #999;
  display: inline;
  padding-top: 6px;
  padding-left: 18px;	
}

.cancel {
  @extend .hand-cursor;
  color: #999;
  display: inline;
  padding-top: 6px;
  padding-left: 18px;
}

.add-task-button {
  color: #999;
  text-decoration: underline;
  @extend .hand-cursor;
  padding-left: 12px;
}